
<div class="col-xs-6 col-xs-offset-3" *ngFor="let chose of playersChose">
  {{chose}}
</div>
<section class="row">
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-default" (click)="onRock()"> Rock</button>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-default" (click)="onScissors()"> Scissors</button>
  </div>
  <div class="col-xs-12 col-sm-4">
    <button class="btn btn-default" (click)="onPaper()"> Paper</button>
  </div>
  <h1>I am working well</h1>
</section>
