.col-sm-6{
  text-align: center;
  font-size: 40px;

}
.col-sm-6 span{
  font-size: 20px;
}

.spacing{
  margin-bottom: 10px;
}

.chose{
  margin-bottom: 5px;
  text-align: center;
  div{
    display: table;
    margin: 0 auto;
  }
}


.divider{
  min-height: 60px;
}

.box{
  .alert{
    min-height: 130px;
    position: fixed;
    top: 50%;

    left:10px;
    right:10px;
    margin-top: -60px;
  }
  position: fixed;
  top: 0;
  text-align: center;
  bottom:0;
  left:0;
  right:0;
  z-index: 100;
}

.mainResult{
  text-align: center;
  padding-top: 5px;
}




.forAllPictures{
  color: black;
  height: 144px;
  width: 144px;
  border-radius: 72px;
}

.pictures{
  background: #337ab7;
  transition: transform 0.3s;
  &:hover{
    cursor: pointer;
    background:#2e6da4;
    transform: scale(1.1);
  }
}


.opponent{
  margin-bottom: 5px;
  text-align: center;
  div{
    display: table;
    margin: 0 auto;
  }
}

.opponentPictures{
  background: red;
}


.resultMy{
  background: #337ab7;
}


@media screen and(max-width: 480px){

  .forAllPictures{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    img{
      height: 90px;
      width: 90px;
    }
  }


}

@media screen and(max-width: 340px){

  .forAllPictures{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    img{
      height: 70px;
      width: 70px;
    }
  }


}
