.spacing{
  text-align: center;
  margin-bottom: 5px;
  h2 {
    color: #BDBDBD;
  }
}

.col-xs-12{
  font-family: 'Fjalla One', sans-serif;
}


.callCome{
  background: #0275d8 !important;
  border: 1px solid #0275d8 !important;
  color:white;
}

.content{
  margin-top: 100px;
}

.list-group-item.active{
  color: white !important;
  border: none !important;
  background: rgba(2, 117, 216, 0.7) !important;
}

.list-group-item{
  background: rgba(255, 255, 255, 0.7) !important;
  height: 50px;
}

.active{
  min-height: 45px;
  h4{
    float: left;
  }
  span{
    float :right;
    font-size: 25px;
    &:hover{
      cursor: pointer;
      color:#b3b3b3;
    }
  }
}

.close-invitation-window-btn{
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &:hover{
    cursor: pointer;
    -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.first-invitation{
  margin-top: 5px;
}

.invitations{
  h4 {
    float: left;
  }
  background: #FAFAFA;
  margin-bottom: 5px;
  min-height: 56px;
  span{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 24px;
    float:right;
    margin-right: 10px;
    margin-top: 5px;
    &:hover{
      -ms-transform: scale(1.2);
          -webkit-transform: scale(1.2);
              transform: scale(1.2);
      cursor: pointer;
    }
  }
}

.invitations-btn{
  position: fixed;
  font-size: 18px;
  background: rgba(242, 242, 242, 0.9);
  border : 1px solid #d9d9d9;
  border-radius: 5px;
  top: 1px;
  right: 1px;
  text-align: center;
  min-width: 100px;
  a h3{
    font-size: 25px;
  }

  &:hover{
    cursor: pointer;
  }
  z-index: 50;
}

.blackout{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  overflow: auto;
  background: rgba(230, 230, 230, 0.9);
  z-index: 100;
}





@media screen and(max-width: 450px) {
  .list-group-item h4{
    font-size: 20px !important;
  }
}

@media screen and ( min-width: 450px){
  .invitations{
    margin-right: 30px;
    margin-left: 30px;
  }
}


