.spacing{
  text-align: center;
  margin-bottom: 5px;
}

.content{
  margin-top: 100px;
}

.list-group-item.active{
  color: white !important;
}

.list-group-item{
  height: 50px;
}

.active{
  min-height: 45px;
  h4{
    float: left;
  }
  span{
    float :right;
    font-size: 25px;
    &:hover{
      cursor: pointer;
      color:#b3b3b3;
    }
  }
}

.close-invitation-window-btn{
  transition: all 0.3s;
  &:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
}

.first-invitation{
  margin-top: 5px;
}

.invitations{
  h4 {
    float: left;
  }
  background: #FAFAFA;
  margin-bottom: 5px;
  min-height: 56px;
  span{
    transition: all 0.3s;
    font-size: 20px;
    float:right;
    margin-right: 10px;
    margin-top: 5px;
    &:hover{
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

.invitations-btn{
  position: fixed;
  top: 0;
  right: 50%;
  margin-right: -73px;
  text-align: center;
  min-width: 130px;
  a h3{
    font-size: 25px;
  }
  z-index: 50;
}

.blackout{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  overflow: auto;
  background: rgba(230, 230, 230, 0.9);
  z-index: 80;
}





@media screen and(max-width: 450px) {
  .list-group-item h4{
    font-size: 20px !important;
  }
}

@media screen and ( min-width: 450px){
  .invitations{
    margin-right: 30px;
    margin-left: 30px;
  }
}


