/* You can add global styles to this file, and also import other style files */

html,
body{
  z-index: -100;
  height: 100%;
  width: 100%;
  background: url("/assets/pictures/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.cover{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0, 0, 0, 0.30);
}

